/**
 * @file
 * Styling for User Notification module toolbar.
 */

.user-notification-toolbar-tab.toolbar-tab {
  float: right !important;
}

.toolbar-bar .toolbar-icon-alert::before {
  background-image: url(../icons/bebebe/alert-icon.svg);
}
