{% for notification in notifications %}
  <div class="notification-li {{ notification.status }}">
    <a href="{{ notification.content_link }}"><h3 class="notification-title">{{ notification.title }}</h3></a>
    <p>of type {{ notification.type }} was <span> {{ notification.operation }}d </span> by <a href="{{ notification.user_link }}">{{ notification.username }}</a> <br> {{ notification.created }} ago.</p>
  </div>
  <hr>
{% endfor %}
<p text-align="center"><a href="">See All</a></p>
